html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #F0F4F7;
}

.nav-bar a:focus,
.nav-bar button:focus,
.search-header input:focus {
  outline: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 90vw;
  height: 95vh;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 10px;
}

.root .app-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1%;
}

.stokr-logo {
  width: 166px;
  height: 46px;
  font-family: LucidaGrande;
  font-size: 39px;
  font-weight: bold;
  color: #41bf15;
}
.root .app-header ul {
  display: flex;
  justify-content: center;
}

.main-content .stock-naming-data {
  font-family: Avenir;
  font-size: 1.4em;
  font-weight: 300;
  color: #59737c;
}

.main-content .filter-section {
  padding: 1% 1%;
  border-top: 1px solid #e5e5e5;
  width: 100%;
}

.main-content form {
  display: flex;
  justify-content: space-between;
}
.main-content .filter-section .filter-text {
  width: 88%;
  display: flex;
  flex-wrap: wrap;
  font-family: HelveticaNeueW01-55Roman;
  font-size: 1.5em;
  color: #59737c;
}

.main-content .filter-section .filter-text div {
  width: 48%;
  margin-right: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content .filter-section button {
  width: 120px;
  height: 120px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #41bf15;
  border: 1px solid #000000;
  font-family: HelveticaNeueW01-75;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.main-content .filter-section .submit-container {
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.main-content .stock-list .hide button {
  display: none;
}

.main-content .stock-list .remove-stock {
  width: 44px;
  height: 43px;
  background-color: #ff4f46;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.remove-stock .remove-stock-line {
  width: 22px;
  height: 2px;
  border: solid 2px #ffffff;
}
input, select{
  width: 60%;
  height: 55px;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #e0e0e0;
  font-family: HelveticaNeueW01-55Roman;
  font-size: 1.2em;
  color: #59737c;
}


.stock-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-right:none;
  border-left:none;
  padding: 1% 1%;
}

.disabled {
  opacity: 0.4;
}

.btn {
  background-color: #fff;
  border: none;
  margin: 0 2px;
  font-size: 2em;
  color: #ababab;
}

.btn:hover,
.btn:focus {
  color: red;
}

.selected {
  color: #63da39;
}

.increase {
  background-color: #63da39;
}

.decrease {
  background-color: #ff4f46;
}

.stock-naming-data,
.stock-numbers {
  display: flex;
  align-items: center;
}

.stock-name {
  padding-left: 4px;
}
.up-down {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 10px;
}

.icon-arrow {
  border: none;
  color: rgb(192,192,192);
  background: none;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  position:relative;
  top: 4px;
}

.icon-reverse {
  transform: ScaleY(-1);
  position: relative;
  top: -4px;
}

.current-price {
  font-family: HelveticaNeueW01-55Roman;
  font-size: 1.5em;
  color: #59737c;
  text-align: right;
  margin: 0 10px;
}

.daily-change {
  font-family: Avenir, serif;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  width: 5em;
  height: 2em;
  border: none;
  border-radius: 10px;
  margin: 0 10px;
}

.search-header {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  padding: 0 1%;
  position: relative;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-header #search-stock {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #408be3;
}
.search-header #cancel-search {
  position: absolute;
  top: 27px;
  right: 21px;
  border-style: none;
  background-color: inherit;
  font-family: HelveticaNeueW01-55Roman;
  font-size: 19px;
  color: #41bf15;
  text-decoration: none;
}

.search-header #cancel-search:focus {
  color: #63da39;
  outline: none;
}

.search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87vh;
}

.icon-search-place-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12em;
  color: #ababab;
}

.icon-search-place-holder h3 {
  font-size: 20px;
  font-weight: 100;
  font-family: HelveticaNeueW01-55Roman;
  text-align: center;
  color: #868686;
}


